# Project Configuration
PROJECT_NAME="Clinical AI Co-Pilot"
API_V1_STR="/api/v1"

# Security
SECRET_KEY="replace_me_with_a_secure_random_string_in_production"
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Database Configuration
# Dev SQLite
DATABASE_URL="sqlite:///./clinical_copilot.db"
# Prod Postgres
# DATABASE_URL="postgresql://user:password@localhost:5432/copilot"

# Model Artifacts
MODEL_ANN_PATH="ml/registry/heart_disease_ann.h5"
PREPROCESSOR_ANN_PATH="ml/registry/heart_preprocessor.pkl"
MODEL_CNN_PATH="ml/registry/pneumonia_cnn.h5"
MODEL_TEXT_PATH="ml/registry/symptoms_bilstm.h5"
PREPROCESSOR_TEXT_PATH="ml/registry/text_tokenizer.pkl"

# LLM Configuration
GROQ_API_KEY="your_groq_api_key_here"
